﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - دیجی رسا</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("Style"))
    { 
        @RenderSection("Style");
    }
</head>
<body onload="UpdateCartCount();">
    <header class="header">
        <div class="mrg-auto defwidth">
            <div class="runit">
                <div class="topbar">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <table>
                            <tr>
                                <td>
                                    <div id="user-menu">
                                        <ul>
                                            <li>
                                                <a href="#" id="login">
                                                    <span class="arrow-icon" style="float:right;"></span>
                                                    <span class="user-icon" style="float:right;"></span>
                                                    <p id="loginLabel">@ViewData["FullName"] عزیز خوش آمدید</p>
                                                </a>
                                                <ul class="user-submenu">
                                                    @if (User.IsInRole("admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پنل مدیریت", "AdminPanel", "Account", null, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("ویرایش مشخصات", "Edit", "Account", null, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("خروج", "Logout", "Account", null, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                    else
                    {
                        <table>
                            <tr>
                                <td>
                                    <a href="#" id="login">
                                        <span class="login-icon" style="float:right;"></span>
                                        @Html.ActionLink("به حساب کاربری خود وارد شوید", "Login", "Account", new { @returnUrl = Request.RawUrl }, new { @id = "loginLabel" })
                                    </a>
                                </td>
                                <td style="width: 70%;">
                                    <div>
                                        <span class="user-icon" style="float:right;"></span>
                                        @Html.ActionLink("ثبت نام کنید", "Register", "Account", null, new { @id = "register" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                <div class="cart-box">
                    <a href="#" class="dk-button red" onclick="cartboxclick()">
                        <i class="dk-button-icon dk-button-icon-cart">
                        </i>
                        <div class="dk-button-label">
                            <div class="dk-button-labelname">سبد خرید</div>
                            <span class="order-count">0</span>
                        </div>
                    </a>
                </div>
                <div class="search-box">
                    <input type="text" id="SearchBox" placeholder="محصول مورد نظرتان را جستجو کنید ...">
                    <a id="btnSearch" href="@Url.Action("Index", "Good", null)" onclick="btnSearch_Click()"></a>
                </div>
            </div>
            <div class="logo-box">
                <a href="@Url.Action("Index", "Home", null)">
                    <img src="~/Images/logo-slogan.png" width="156" height="58" alt="فروشگاه اینترنتی ديجی راسا" title="ديجی راسا | بررسی، انتخاب و خرید آنلاین">
                </a>
            </div>
        </div>
        <script type="text/javascript">
            function btnSearch_Click() {
                debugger;
                var name = $('#SearchBox').val();
                var btn = $('#btnSearch');
                btn.attr('href', btn.attr('href') + '?searchstring=' + encodeURIComponent(name))
            };
            function pop(div) {
                $('#popDiv').show();
                $('#' + div).show();
            }
            function hide(div) {
                $('#popDiv').hide();
                $('#' + div).hide();
            }
            function load_cart() {
                $('#cart-table').load('@Url.Action("_PartialInvoiceList", "Invoice", null)');
            }
            function cartboxclick() {
                var auth = '@User.Identity.IsAuthenticated';
                if (auth == 'True') {
                    pop('popBuyList');
                    load_cart();
                } else {
                    alert("برای مشاهده ثبت خرید ابتدا ورود کنید");
                    window.location.href = '@Url.Action("Login", "Account", null)';
                }
            }
            function UpdateCartCount() {
                var auth = '@User.Identity.IsAuthenticated';
                if (auth == 'True') {
                    $.ajax({
                        url: '/Invoice/GetCartCount',
                        type: 'GET',
                        success: function (result) {
                            $('.order-count').html(result);
                        },
                        error: function () {
                            $('.order-count').hide();
                        }
                    });
                }
            }
        </script>
    </header>
    @Html.Action("_MainMenu", "Home")
    <div id="main">
        <section class="contents">
            @RenderBody()
        </section>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - دیجی راسا</p>
        </footer>
    </div>
    <div id="popDiv" class="ontop" onclick="$('popDiv').hide();">
    </div>
    <div id="popBuyList" style="background:#000; display:none; width:700px; z-index: 20; position: absolute; top: 20%; left: 35%; margin-top: -50px; margin-left: -50px; direction:rtl;">
        <div id="inner2">
            <div id="header2">
                <div id="container2">
                    <a href="#" class="close" onclick="hide('popBuyList')"></a>
                    <div id="title2">سبد خرید</div>
                </div>
            </div>
            <div style="padding: 20px;">
                <input type="button" value="نهایی کردن خرید" onclick="location.href='@Url.Action("InvoiceList", "Invoice", null)'" class="btn btn-default" />
                <div id="cart-table">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.Action("_PartialInvoiceList", "Invoice", null)
                    }
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>

</html>
