﻿@model OnlineStoreMVC.Models.GoodViewModel

@{
    ViewBag.Title = "حذف کالا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<h3 style="color: red; font-size:x-large; font-family:Tahoma">آیا مطمئن هستید که می خواهید کالا را حذف کنید؟</h3>
<div>
       <dl class="dl-horizontal">
        <dt class="fright">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="fright">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="fright">
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>


        <dt class="fright">
            @Html.DisplayNameFor(model => model.Translator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Translator)
        </dd>

        <dt class="fright">
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="fright">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt class="fright">
            @Html.DisplayNameFor(model => model.Edition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edition)
        </dd>

        <dt class="fright">
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" />
        </div>
    
</div>
}
