﻿@model OnlineStoreMVC.Models.GoodEditViewModels

@{
    ViewBag.Title = "ویرایش کالا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2  fright" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2  fright" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdGroup, new { @class = "control-label col-md-2  fright" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdGroup, ViewBag.Groups as SelectList,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdGroup, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, new { @class = "control-label col-md-2  fright" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Translator, new { @class = "control-label col-md-2  fright" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Translator, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Translator, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2  fright" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2 fright" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher, new { @class = "control-label col-md-2  fright" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Publisher, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Publisher, "", new { @class = "validation-error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Edition, new { @class = "control-label col-md-2  fright" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Edition, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Edition, "", new { @class = "validation-error" })
            </div>
        </div>
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره تغییرات" class="btn btn-default" />
            </div>
        </div>
    </div>
}
