﻿@model IEnumerable<OnlineStoreMVC.Models.GoodViewModel>

@{
    ViewBag.Title = "کالاها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Model.Count() > 0)
{ 
    <table class="table">
        <tr>
            <th style="text-align: right;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="text-align: right;">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                { 
                    @Html.ActionLink("ویرایش", "Edit", new { id=item.Id })
                    <span>|</span>
                }
                @Html.ActionLink("جزییات", "Details", new { id=item.Id }) 
                @if (User.Identity.IsAuthenticated)
                {
                    <span>|</span>
                    <a href="#" onclick="AddToCart(@item.Id)">اضافه به سبد خرید</a>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <span>|</span>
                    @Html.ActionLink("حذف", "Delete", new { id=item.Id })
                }
            </td>
        </tr>
    }

    </table>
}
else
{
    <p style="font-size: x-large;">نتیجه ای یافت نشد</p>
}

<script type="text/javascript">
    function AddToCart(id) {
        var flag = confirm('آیا مایل به اضافه کردن این کالا هستید؟');
        if (flag) {
            $.ajax({
                url: '/Invoice/AddToCart',
                type: 'POST',
                data: { idgood: id },
                success: function (result) {
                    UpdateCartCount();
                    alert(result);
                },
                error: function () {
                    alert("عملیات با مشکل مواجه شد");
                }
            });
        }
    }
</script>

