﻿@model IEnumerable<OnlineStoreMVC.Models.Group>
<div class="menu-wrap">
    <nav class="menu">
        <div class="mrg-auto menu2">
            <ul class="root">
                @foreach(var item in Model.Where(x=> x.Level == 1))
                { 
                    <li>
                        <a href="#">@item.Description<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            @foreach(var item2 in Model.Where(x=> x.Level == 2 && x.IdParent == item.Id))
                            { 
                                <li>
                                    <a href="#">@item2.Description</a>
                                    <div class="sub-menu2">
                                        <div class="firstrow">
                                            <table>
                                                <tr>
                                                    @{
                                                        var currentitems = Model.Where(x=> x.Level == 3 && x.IdParent == item2.Id);
                                                        var column = currentitems.Take(5);
                                                        <td>
                                                            <ul>
                                                                @foreach(var item3 in column)
                                                                { 
                                                                    <li class="item">
                                                                        @Html.ActionLink(item3.Description, "Index", "Good", new { @idgrp = item3.Id }, null)
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </td>
                                                        column = currentitems.Skip(5).Take(5);
                                                        <td class="alternate">
                                                            <ul>
                                                                @foreach(var item3 in column)
                                                                { 
                                                                    <li class="item">
                                                                        @Html.ActionLink(item3.Description, "Index", "Good", new { @idgrp = item3.Id }, null)
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </td>
                                                        column = currentitems.Skip(10).Take(5);
                                                        <td>
                                                            <ul>
                                                                @foreach(var item3 in column)
                                                                { 
                                                                    <li class="item">
                                                                        @Html.ActionLink(item3.Description, "Index", "Good", new { @idgrp = item3.Id }, null)
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </td>
                                                        
                                                    }
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </nav>
</div>
