*{
	margin: 0;
	padding: 0;
}
body {
    font: 8pt Tahoma;
    direction: ltr;
    background: #333 url("../Images/main-pattern.png") repeat-x scroll 0 230px!important;
    color: #4d4d4d;
}
a {
    text-decoration: none;
    outline: 0;
    color: inherit;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
input {
	direction: rtl;
}
div, td, th {
    line-height: 22px;
}
.header{
	background-color: #000;
    height: 96px;
    font-family: 'B Yekan';
    min-width: 980px;
}
.mrg-auto{
	margin: 0 auto;
}
.logo-box{
	width: 320px;
    height: 86px;
    text-align: left;
    float: right;
}

.defwidth{
	width: 980px;
}

.runit{
	width: 650px;
	height: 86px;
	float: right;
}

.topbar{
	height: 44px;
}

.topbar table{
	direction: rtl;
	width: 100%;
	float: right;
	font-size: 12px;
	margin-left: 25px;
    margin-top: 8px;
}

.topbar span{
	vertical-align: middle;
    display: inline-block;
    height: 18px;
    width: 14px;
    margin-left: 5px;
    background: url("../Images/slices.png") no-repeat;
}

.login-icon{
	background-position: -309px -32px!important;
}

.user-icon{
	background-position: -276px -33px!important;
}

.arrow-icon{
	background-position: -36px -543px!important;
    height: 8px!important;
    width: 12px!important;
    margin-top: 6px;
}

#loginLabel , #register{
	color: #7f848f;
    display: block;
    padding: 1px 0 0;
    white-space: nowrap;
	text-decoration: none;
}

.cart-box {
    float: right;
    height: 38px;
	width: 190px!important;
}

.dk-button{
	box-sizing: border-box;
    display: block;
    overflow: hidden;
	line-height: 0;
    text-decoration: none;
	border-radius: 3px;
	transition: background-color 150ms ease 0s;
}

a.dk-button.red{
	background-color: #d00;
}

a.dk-button.red:hover{
	background-color: #c00;
}

i.dk-button-icon {
    background: url("../Images/slices.png") no-repeat;
	background-color: #e00;
    display: block;
    float: right;
    overflow: hidden;
    height: 38px;
    line-height: 38px;
    width: 54px;
}

a.dk-button.red:hover .dk-button-icon{
	background-color: #d00;
}

i.dk-button-icon.dk-button-icon-cart {
    background-position: -196px -413px;
}

.dk-button-label {
    margin-right: 54px!important;
	padding: 0 28px;
    font-size: 13px;
}

.dk-button-labelname {
    display: block;
    font-family: 'B Yekan';
    color: #fff;
    height: 38px;
    line-height: 38px;
    text-align: center;
	float: right;
}

.cart-box .order-count {
    font-family: arial;
    width: 24px;
    height: 24px;
    float: right;
    margin: 7px 7px 0 0;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f00;
    color: #fff;
    text-align: center;
    line-height: 24px;
}

.search-box {
    margin-right: 10px;
    margin-top: 2px;
    position: relative;
    float: right;
}

.search-box #SearchBox {
    font: normal 13px 'B Yekan';
    height: 34px;
    border: 1px solid #c9d1d7;
    border-radius: 2px;
    color: #4a4a4a;
    z-index: 10;
    padding: 0 14px 2px 5px;
	width: 410px;
}

.search-box #btnSearch {
    top: 0;
    left: 0;
    position: absolute;
    width: 40px;
    height: 34px;
    background: url("../Images/slices.png") no-repeat -446px -22px #888;
    border-radius: 4px 0 0 4px;
    transition: all .3s ease 0s;
}
/*----- Menu Outline -----*/
.menu{
	background: #333;
    border-top: 1px solid #100F0d;
    border-bottom: 1px solid #1c1b1a;
    box-shadow: 0 1px 2px rgba(0,0,0,.12);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.12);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,.12);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,.12);
    height: 40px;
    min-width: 980px;
    margin-bottom: 10px;
}

.menu2{
	width: 980px;
}

.menu-wrap {
    width:100%;
	direction: rtl;
}
 
.menu .arrow {
	background: url("../Images/slices.png") no-repeat scroll -36px -543px;
	display: inline-block;
	height: 6px;
	width: 9px;
	margin-right: 11px;
}

.ontop {
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: absolute;				
	background-color: #cccccc;
	color: #aaaaaa;
	opacity: .4;
	filter: alpha(opacity = 50);
}
#popup {
	width: 300px;
	height: 200px;
	position: absolute;
	color: #000000;
	background-color: #ffffff;
	/* To align popup window at the center of screen*/
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
}
#popLogin 
{
    z-index: 20;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 300px;
}
section.contents
{
    background: #444;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #555;
    color: #aaa;
    /*font-family: 'B Yekan';
    font-size: 13px;*/
    direction: rtl;
}
#popLogin #inner
{
    border-radius: 4px;
    background: #464646;
    direction: rtl;
}
#popLogin #inner #header {
    border-radius: 8px;
    background-color: #fff;
}
#popLogin #inner #header #container {
    background-color: #333;
    position: relative;
    height: 49px;
    text-align: right;
}
#popLogin #inner #header #container .close {
    background: url("../Images/slices.png") no-repeat -134px -123px #ebeced;
    border-radius: 100%;
    border: 1px solid #d6d9df;
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    top: 10px;
    left: 12px;
    z-index: 1;
    cursor: pointer;
}
#popLogin #inner #header #container #title {
    padding-right: 15px;
    font-size: 14px;
    line-height: 49px;
    font-family: 'B Yekan';
    color: #d4d4d4;
}
#popBuyList #inner2
{
    border-radius: 4px;
    background: #464646;
    direction: rtl;
}
#popBuyList #inner2 #header2 {
    border-radius: 8px;
    background-color: #fff;
}
#popBuyList #inner2 #header2 #container2 {
    background-color: #333;
    position: relative;
    height: 49px;
    text-align: right;
}
#popBuyList #inner2 #header2 #container2 .close {
    background: url("../Images/slices.png") no-repeat -134px -123px #ebeced;
    border-radius: 100%;
    border: 1px solid #d6d9df;
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    top: 10px;
    left: 12px;
    z-index: 1;
    cursor: pointer;
}
#popBuyList #inner2 #header2 #container2 #title2 {
    padding-right: 15px;
    font-size: 14px;
    line-height: 49px;
    font-family: 'B Yekan';
    color: #d4d4d4;
}
#popLogin #inner td
{
    padding:20px;
    font-family:'B Yekan';
    font-size:13px;
    color: #d4d4d4;
}
.dk-button-container {
	padding: 0 28px;
    font-size: 13px;
    display: block;
    font-family: 'B Yekan';
    color: #fff;
    height: 38px;
    line-height: 38px;
    text-align: center;
}
a.dk-button.green{
	background-color: #0d0;
}

a.dk-button.green:hover{
	background-color: #0c0;
}
#loginResult
{
    color: #f00;
}
/*----- Top Level -----*/

.menu ul{
	padding: 0;
	list-style: none;
}

.menu ul li {
    font: 12px 'B Yekan';
	line-height: 20px;
	text-align: right;
}

.menu ul.root {
    position:relative;
}

.menu ul.root > li > a{
	font-size: 14px;
	line-height: 42px;
}

.menu ul.sub-menu > li > a{
	font-size: 12px;
	line-height: 43px;
}

.menu ul.root>li{
	float: right;
}

.menu ul.root>li>ul>li{
	float: right;
}
 
.menu ul li a {
    display: block;
    padding:0px 15px;
    transition:color linear 0.15s;
    color:#d4d4d4;
	text-decoration: none;
}
 
.menu ul.root > li > a:hover {
    background: #000;
    box-shadow: 0 0 3px #cccfd1;
    border-bottom: 1px solid #000;
	color: #ff0;
}

.menu ul.sub-menu > li > a:hover {
    border-bottom: 2px solid #ff0;
    background: url("../Images/arrow-3.png") no-repeat bottom center;
	color: #ff0;
}

/*------ Main Pic------*/

#content{

    float: left;
    margin: 7px 10px 0px 0px;
    width: 705px;
}

#content #slider {
    width: 705px;
    height: 246px;
}
 
#content #slider img {
    width: 705px;
    height: 246px;
}

#content #slider .slides img {
    display: none;
    position: absolute;
    left: 0px;
}

#content #slider footer {
    width: 705px;
}

#content #slider footer {
    position: relative;
    right: 0px;
    height: 43px;
    bottom: 0px;
    top: 246px;
    background-color: rgba(64, 64, 64, 0.9);
}

#slider ul.tabs li a:hover {
    background: #000 none repeat scroll 0% 0%;
    border-bottom: 2px solid #EF3F3E;
    filter: none;
    position: relative;
    text-shadow: none;
}

#content #slider footer ul.tabs li a {
    color: #F0F0F0;
    display: block;
    padding: 0px 15px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    direction: rtl;
}

ul, ol, li {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
    border-width: 0px;
}

#content #slider .slides a {
    display: block;
    margin: 0px auto;
}

#content #slider footer ul.tabs li.tabItem {
    width: 140.2px;
}

#content #slider footer ul.tabs li {
    float: right;
    color: #A5A5A5;
    font-family: yekan,"B Koodak","X Koodak","Koodak",Arial;
    font-size: 12px;
    direction: rtl;
}

#content #slider footer ul.tabs li.sep {
    margin: 0px;
    background: transparent none repeat scroll 0% 0%;
    height: 43px;
}

#content #slider footer ul.tabs li.sep span {
    background-color: #5E5E5E;
    width: 1px;
    height: 10px;
    margin-top: 16.5px;
    display: block;
}

#content #slider footer ul.tabs li.sep {
    margin: 0px;
    background: transparent none repeat scroll 0% 0%;
    height: 43px;
}

#content #slider footer ul.tabs li.sep span {
    background-color: #5E5E5E;
    width: 1px;
    height: 10px;
    margin-top: 16.5px;
    display: block;
}


#content #slider footer ul.tabs li.sep {
    margin: 0px;
    background: transparent none repeat scroll 0% 0%;
    height: 43px;
}

#content #slider footer ul.tabs li.sep {
    margin: 0px;
    background: transparent none repeat scroll 0% 0%;
    height: 43px;
}


#content #slider footer ul.tabs li.sep span {
    background-color: #5E5E5E;
    width: 1px;
    height: 10px;
    margin-top: 16.5px;
    display: block;
}

#content #slider footer ul.tabs li.sep {
    margin: 0px;
    background: transparent none repeat scroll 0% 0%;
    height: 43px;
}

#main {
    width: 980px;
    margin: 0px auto 75px;
	position: relative;
}

#sidebar {
    width: 255px;
    float: left;
	margin-top: 7px;
}
/*-----Main Bottom Pic-------*/

#content #usp {
    font-family: yekan,"B Koodak","X Koodak","Koodak",Arial;
    font-size: 12px;
}

#content #usp ul {
    min-height: 70px;
}

ul, ol, li {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
    border-width: 0px;
}

#content #usp ul li {
    width: 140.2px;
}

#content #usp ul li a {
    display: block;
    min-height: 70px;
}

#usp ul li a {
    line-height: 30px;
}

#content #usp ul li a img {
    margin-top: 7px;
}

#content #usp ul li a img {
    vertical-align: middle;
    margin-left: 5px;
}

img {
    border: 0px none;
}

 #content #usp ul li a span {
    display: block;
}



/*----- Side Bar -------*/

aside #tv {
    padding-bottom: 10px;
    font-family: yekan,"B Koodak","X Koodak","Koodak",Arial;
}

aside #tv header {
    border-bottom: 2px solid #EBEBEB;
    height: 38px;
    padding-right: 10px;
    text-align: right;
    background-color: #F5F5F5;
}

aside #tv header h3 {
    border-bottom: 2px solid #EF3F3E;
    color: #666;
    display: inline-block;
    height: 38px;
    line-height: 42px;
    font-size: 12px;
}


h3 {
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

aside #tv .tvbox {
    min-height: 293px;
}

body, table, div, td, th {
    line-height: 22px;
}

aside #tv .items .item {
    padding: 12px;
    height: 62px;
}

aside #tv .items .item a.ii {
    float: right;
    height: 62px;
    width: 110px;
    background: #FAFAFA no-repeat scroll center center;
}

aside #tv .items .item a {
    margin-left: 8px;
    position: relative;
    border-radius: 4px;
}

aside #tv .items .item a img {
    width: 110px;
    height: 62px;
    border-radius: 4px;
}

aside #tv .items .item a .mt {
    background-color: rgba(0, 0, 0, 0.9);
    color: #CCDFEA;
    display: block;
    line-height: 14px;
    opacity: 0.9;
    padding: 0px 4px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-family: Tahoma;
}

.rtl {
    direction: rtl;
}

aside #tv .items .item a.ii .over {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 62px;
    width: 110px;
    border-radius: 4px;
    background: rgba(29, 29, 29, 0.9) no-repeat scroll center center;
}


/*----- Bottom Level -----*/
.menu ul li ul.sub-menu {
    display: none;
    position: absolute;
    border-bottom: 1px solid #555;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    height: 44px;
    background-color: #000;
    list-style: none;
    margin: 1px 0 0;
    padding: 0;
}

.menu ul li:hover ul.sub-menu {
	display: block;
}

#user-menu ul{
    padding: 0;
    list-style: none;
}

#user-menu ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
}

#user-menu ul li p:hover{
    color: #ff0;
}
#user-menu ul li a{
    display: block;
    color: #7f848f;
    text-decoration: none;
}

#user-menu ul li ul li a:hover{
    color: #ff0;
}

#user-menu ul li ul.user-submenu{
    min-width: 200px; /* Set width of the dropdown */
    background: #000;
    display: none;
    position: absolute;
    z-index: 999;
    padding: 0 10px 10px 10px;    
    border-radius: 0 5px 5px 5px;
    /* border-right: solid #fff 1px; */
    border-bottom: solid #fff 1px;
    box-shadow: 0px 10px 20px #484848;
}

#user-menu ul li:hover ul.user-submenu{
    display: block;	/* Display the dropdown */
}
#user-menu ul li ul.user-submenu li{
    display: block;
}

@keyfram fade{
	from {opacity: 0;}
	to {opacity: 1;}
}

.menu ul li ul.sub-menu li{
	display: block;
}

.dkbox {
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    overflow: hidden;
}
.fright{
    float: right !important;
}
.validation-error
{
    color: #f00;
}
/* .sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover {
    background:#3e3436;
} */