﻿@model IEnumerable<OnlineStoreMVC.Models.InvoiceModel>


<table class="table" style="color:#fff">
    <tr>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.GoodCode)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.GoodName)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.PaidPrice)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidPrice)
            </td>
        </tr>
    }

</table>

