﻿@model IEnumerable<OnlineStoreMVC.Models.InvoiceModel>


    <table class="table" style="color:#fff">
        <tr>
            <th style ="text-align: right;">
                @Html.DisplayNameFor(model => model.GoodCode)
            </th>
            <th style="text-align: right;">
                @Html.DisplayNameFor(model => model.GoodName)
            </th>
            <th style="text-align: right;">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th style="text-align: right;">
                حذف
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GoodCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="~/Images/delete.png" onclick="DeleteRow(@item.Id, this)" style="cursor: pointer;" />
                </td>
            </tr>
        }

    </table>

<script type="text/javascript">
    function DeleteRow(id, img)
    {
        var $tr = img.closest("tr");
        var flag = confirm('آیا مایل به حذف این رکورد هستید؟');

        if (flag) {
            $.ajax({
                url: '/Invoice/Delete',
                type: 'POST',
                data: { Id: id },
                success: function (result) {
                    if (result == "Deleted")
                    {
                        $tr.remove();
                        UpdateCartCount();
                    }
                    else
                        alert(result);
                },
                error: function () {
                    alert("عملیات با مشکل مواجه شد");
                }
            });
        }
    }
</script>