﻿@model IEnumerable<OnlineStoreMVC.Models.InvoiceModel>

@{
    ViewBag.Title = "InvoiceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th style="text-align: right;">
                @Html.DisplayNameFor(model => model.GoodCode)
            </th>
            <th style="text-align: right;">
                @Html.DisplayNameFor(model => model.GoodName)
            </th>
            <th style="text-align: right;">
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoodCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }


    </table>
    @Html.ValidationSummary(true, "", new { @class = "validation-error" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ثبت خرید" class="btn btn-default" />
        </div>
    </div>
}