﻿
@{
    ViewBag.Title = "پنل مدیریت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family: Tahoma;">پنل مدیریت</h2>
<hr />
<table style="width: 100%">
    <tr>
        <td style="width: auto;">
            <input type="button" value="ثبت کالای جدید" onclick="location.href='@Url.Action("Create", "Good", null)'" class="btn btn-default" />
        </td>
        <td>
            @Html.Action("_LastPaidInvoices", "Invoice")
        </td>
    </tr>
</table>