ul.root>li>ul.sub-menu>li:hover .sub-menu2{
	display: block;
}
ul.root>li>ul.sub-menu>li .sub-menu2 {
    width: 980px;
    background-color: #111;
    display: none;
    position: absolute;
    -webkit-position: absolute;
    -ms-position: absolute;
    -o-position: absolute;
    -moz-position: absolute;
    right: 0;
    top: 45px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    border-radius: 0 0 5px 5px;
}
ul.root>li>ul.sub-menu>li .sub-menu2 .menu11 {
    background-image: url(../Images/mobile.png);
    background-repeat: no-repeat;
    left: 15px;
    bottom: 0;
    background-size: 150px;
}
ul.root>li>ul.sub-menu>li .sub-menu2 .firstrow table {
    width: 100%;
    direction: rtl;
	border-collapse: collapse;
}
ul.root>li>ul.sub-menu>li .sub-menu2 .firstrow table td {
    vertical-align: top;
    padding: 10px 10px 0 0;
    width: 25%;
    border-left: 1px solid #000;
}
ul.root>li>ul.sub-menu>li .sub-menu2  .firstrow table td.alternate {
    background-color: #222;
}
ul.root>li>ul.sub-menu>li .sub-menu2 .firstrow table td ul {
    list-style: none;
    font-size: 12px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 20px;
    z-index: 10;
    position: relative;
    -moz-position: relative;
    -o-position: relative;
    -webkit-position: relative;
    -ms-position: relative;
}
ul.root>li>ul.sub-menu>li .sub-menu2 .firstrow table td ul>li {
    margin: 4px 0;
	line-height: 22px;
}
ul.root>li>ul.sub-menu>li .sub-menu2 .firstrow table td ul>li.item {
    margin-right: 20px;
    z-index: 10;
}
ul.root>li>ul.sub-menu>li .sub-menu2 .menu11 {
    z-index: 1;
    position: absolute;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
ul.root>li>ul.sub-menu>li .sub-menu2 .firstrow table td ul>li.title>a {
    padding-right: 5px;
    color: #e00;
	font-weight: bold;
	font-size: 14;
}
ul.root>li>ul.sub-menu>li .sub-menu2 .firstrow table td ul>li.item>a:hover {
    color: #ff0;
}